nav {
  height: 60vh;
  width: 5vw;
  background-color: #fe9595;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.nav-link,
.nav-link-active {
  padding: 0.7em 0.8em;
}

.nav-link-active {
  background-color: #ab1111;
  border-radius: 100%;
}

.nav-link-image {
  width: 2em;
}

@media (min-width: 300px) and (max-width: 1000px) {
  .nav-link,
  .nav-link-active {
    padding: 0.3em 0.4em;
  }

  .nav-link-image {
    width: 0.8em;
  }
}

@media (min-width: 1000px) and (max-width: 1500px) {
  .nav-link,
  .nav-link-active {
    padding: 0.4em 0.5em;
  }

  .nav-link-image {
    width: 1.4em;
  }
}

@media (min-width: 1500px) {
  .nav-link,
  .nav-link-active {
    padding: 0.7em 0.8em;
  }

  .nav-link-image {
    width: 2em;
  }
}

@media (orientation: portrait) {
  nav {
    height: 6vh;
    width: 60vw;
    flex-direction: row;
  }

  .nav-link,
  .nav-link-active {
    padding: 0.3em 0.4em;
  }

  .nav-link-image {
    width: 1em;
  }
}

@media (min-width: 800px) and (orientation: portrait) {
  .nav-link,
  .nav-link-active {
    padding: 0.5em 0.6em;
  }

  .nav-link-image {
    width: 1.8em;
  }
}
