main {
  background-color: #fff;
  width: 92vw;
  height: 92vh;
  border-radius: 10px;
  position: relative;
  top: 0vh;
  left: -2.5vw;
  padding: 5px;
}

.layout {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (orientation: portrait) {
  main {
    top: 3vh;
    left: 0vw;
  }

  .layout {
    flex-direction: column-reverse;
  }
}
